{% extends "layouts/base.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Edit Profile</h4>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-5 pr-1">
                                <div class="form-group">
                                    <label>Username</label>
                                    <input type="text" class="form-control" disabled placeholder="Username" value="{{ user.username }}">
                                </div>
                            </div>
                            <div class="col-md-4 px-1">
                                <div class="form-group">
                                    <label>Email address</label>
                                    <input type="email" class="form-control" disabled placeholder="Email" value="{{ user.email }}">
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-5 pr-1">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" class="form-control" value="{{ user.first_name }}">
                                </div>
                            </div>
                            
                            <div class="col-md-4 px-1">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control"  value="{{ user.last_name }}">
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-fill pull-right">Update Profile</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
     
{%endblock%}