<div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
    <div class="logo">
      <a target="_blank" rel="noopener noreferrer" 
         href="#" class="simple-text logo-normal">
        PSURRS
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
      {% if request.user.is_authenticated %}
        <li class="nav-item {% if 'index' in segment %} active {% endif %}">
          <a class="nav-link" href="#">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item {% if 'ui-tables' in segment %} active {% endif %}">
          <a class="nav-link" href="{% url 'research-paper-list' %}">
            <i class="material-icons">content_paste</i>
            <p>Table List</p>
          </a>
        </li>
        {% if request.user.is_superuser %} 
        <li class="nav-item {% if 'upload' in segment %} active {% endif %}">
            <a class="nav-link" href="{% url 'upload_paper' %}">
              <i class="material-icons">cloud_upload</i>
              <p>Upload</p>
            </a>
          </li>
         {% endif %}
        <li class="nav-item {% if 'page-user' in segment %} active {% endif %}">
          <a class="nav-link" href="{% url 'profile' %}">
            <i class="material-icons">person</i>
            <p>User Profile</p>
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="confirmLogout()">
              <i class="material-icons">directions_run</i>
              <p>Logout</p>
            </a>
        </li>
        <script type="text/javascript">
            function confirmLogout() {
                if (confirm("Are you sure you want to log out?")) {
                    window.location.href = "{% url 'logout' %}";
                }
            }
        </script>
      {% endif %}
      </ul>
    </div>
  </div>
  